@import url('https://fonts.googleapis.com/css2?family=Aldrich&family=Inconsolata:wght@200..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    font-family: "Aldrich", sans-serif;
    font-weight: 400;
    font-style: normal;
    
}

header {
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: black;
    padding: 20px;
    color: white;
}



.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24,
}



main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    height: 80vh;
}

section {
    align-items: center;
    background-color: #cbe9c4;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 3px 3px 5px black;
    
}

.resultado {
    text-align: right;
    background-color: white;
    padding: 10px;
    width: auto;
    border-radius: 10px;
}

input {
    padding: 5px;
    border: none;
    border-radius: 5px;
    font-family: "Aldrich", sans-serif;
}

button {
    width: 50px;
    border: none;
    border-radius: 5px;
    background-color: #7f9b79;
    padding: 10px;
}

button:hover {
    cursor: pointer;
    background-color: #549e44;
}

footer {
    text-align: center;
    background-color: black;
    color: white;
    padding: 10px;
}